.hero {
  @media screen and (max-width: 768px) {
    min-height: calc(50vh - 3.25rem);
  }
  @media screen and (min-width: 769px) {
    min-height: calc(100vh - 3.25rem);
  }
}
.hero-body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    background-image: url(https://d33v6bah4t8f39.cloudfront.net/angular-cup-twitter.jpg);
    padding-bottom: 192px;
  }
  @media screen and (min-width: 769px) {
    background-image: url(https://d33v6bah4t8f39.cloudfront.net/angular-cup-cover.jpg);
  }
}

.posts {
  margin-top: -5rem;

  .card {
    margin: 5rem 2rem;
    margin-top: 0;

    .card-content {
      .content-header {
        text-align: center;
        padding-top: 96px;
      }
      .content-post {
        padding: 1.5rem 6rem;
        @media screen and (max-width: 768px) {
          padding: 1.5rem;
        }
      }
      figure.image {
        position: absolute;
        border: 3px solid #ccc;
        border-radius: 50%;
        top: -32px;
        left: 50%;
        margin-left: -64px;
      }
    }
  }
}
