<div class="container is-fluid">
  <div class="container">
    <h2 class="title">Angular Example: Dynamically Loading Charts</h2>
    <div class="buttons">
      <button class="button is-primary" (click)="add()">Add a chart</button>
      <button class="button" (click)="removeAll()">Remove all charts</button>
    </div>
    <div *ngIf="(dynamicallyLoadingChartsService.state$|async).scriptLoaded" class="columns is-multiline">
      <ng-container *ngFor="let chart of (dynamicallyLoadingChartsService.state$|async).charts">
        <div class="column is-6-tablet is-3-desktop">
          <div class="card">
            <div class="card-image">
              <dev-the-spiciest-dynamically-loading-charts-chart [chart]="chart"></dev-the-spiciest-dynamically-loading-charts-chart>
            </div>
            <div class="card-content">
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <button class="button" (click)="chartRandomize(chart)">Randomize</button>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <button class="button is-danger is-outlined" (click)="chartDelete(chart)">Delete</button>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
