nav.navbar div.navbar-dropdown>span i,
nav.navbar div.navbar-dropdown>a i {
  margin-right: 5px;
}

.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}

.navbar-brand .brand-text .handle {
  color: #909AA0;
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1rem;
}
