<section class="hero is-info is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span class="icon">
          <i class="far fa-3x fa-question-circle"></i>
        </span>
      </h1>
      <h1 class="title">
        Sorry, we can't find this page.
      </h1>
      <h2 class="subtitle">
        Either the page is now gone or an invalid link brought you here.
      </h2>
      <div class="buttons is-centered">
        <a href="https://github.com/METACEO/dev-the-spiciest/issues" class="button is-large">
          <i class="fab fa-fw fa-github"></i>
          &nbsp;
          <span>Open an issue</span>
        </a>
      </div>
    </div>
  </div>
</section>
